body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

h1 {
    color: #333;
}

#hangman-word {
    font-size: 24px;
    margin-bottom: 20px;
}

#hangman-image {
    margin-bottom: 20px;
}

#guess-form {
    margin-bottom: 20px;
}

#guess-input {
    width: 30px;
    padding: 5px;
    font-size: 16px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

#message {
    font-size: 18px;
    font-weight: bold;
    color: #ff0000;
}
